.body {
  font-family: 'Poppins', sans-serif;
  color: #3f5162;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.inner {
  text-align: center;
  padding: 30px 0;
  width: 85%;
  margin: 0 auto;
  box-sizing: border-box;
}

.title {
  font-weight: bold;
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke: 1px #3f5162;
  padding: 30px 0;
  text-align: center;
}

.header {
  background: #e8e8e8;
  padding: 10px 10px 5px;
}

.header.flex {
  align-items: center;
}

.header-logo {
  width: 45%;
  padding-left: 25px;
}

.header-nav li {
  padding: 0 25px;
}

.mv {
  background: #e8e8e8;
  position: relative;
}

.mv::after {
  content: url(../img/Travelplans.png);
  position: absolute;
  bottom: -155px;
  right: -75px;
  transform: scale(0.5);
}

.mv-box {
  padding: 85px 80px 105px;
  width: 55%;
}

.mv-box-title {
  font-size: 3em;
}

.mv-box-text {
  padding-top: 10px;
  padding-left: 15px;
}

.modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 500px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

button {
  display: block;
  padding: 15px 40px;
  background: linear-gradient(to right, #3f5162 50%, #fff 50%);
  background-size: 200% 100.5%;
  background-position: right bottom;
  border: none;
  border-left: 0.2em solid #3f5162;
  border-color: none;
  margin: 30px 15px 20px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.5s ease-out;
}

button:hover {
  background-position: left bottom;
  color: #fff;
}

.modalContents h2 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

.modalContents-box-text {
  line-height: 30px;
}

.modalContents-text {
  padding-top: 20px;
  font-size: 0.8em;
  line-height: 20px;
}

.spring {
  padding-top: 30px;
}

.spring .flex {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.spring-title {
  text-shadow: 3px 3px 0 #f7c7c8;
}

.spring-container {
  position: relative;
  width: 100%;
  padding: 60px 30px 0;
}

.spring-card {
  position: relative;
  width: 29%;
  height: 150px;
  background: #fff1f1;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  border-radius: 4px;
}

.spring-card:hover {
  height: 390px;
}

.spring-card:hover .spring-content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.spring-content {
  position: relative;
  margin-top: -80px;
  padding: 10px 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.spring-content-text {
  font-size: 0.68em;
  letter-spacing: 0.8px;
  padding-bottom: 15px;
}

.spring-content-mes {
  font-size: 0.8em;
}

.spring-content-mes span {
  font-weight: bold;
}

.spring-imgBox {
  position: relative;
  top: -60px;
}

.spring-imgBox img {
  width: 80%;
  border-radius: 4px;
}

.spring h4 {
  padding-bottom: 10px;
}

.summer {
  box-sizing: border-box;
}

.summer .flex {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.summer-title {
  text-shadow: 3px 3px 0 #c7f5f7;
}

.summer-container {
  position: relative;
  width: 85%;
  padding: 20px 0;
}

.summer-card {
  position: relative;
  height: 255px;
  background: #d9f7f8;
  width: 40%;
  margin: 30px;
  display: flex;
  border-radius: 20px;
}

.summer-card:hover .summer-imgBox {
  height: 150px;
  width: 150px;
  left: -75px;
  top: calc(50% - 75px);
}

.summer-card:hover .summer-imgBox img {
  width: 80%;
}

.summer-imgBox {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.5s ease-in-out;
}

.summer-imgBox img {
  width: 40%;
}

.summer-content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  text-align: center;
}

.summer-content h4 {
  padding-top: 20px;
}

.summer-content p {
  font-size: 0.68em;
  letter-spacing: 0.8px;
  padding: 10px 20px;
}

.summer-content a {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #3f5162;
  border: 1px solid #3f5162;
  color: #fff;
  font-size: 0.7em;
}

.summer-content a:hover {
  background-color: #fff;
  border-color: #3f5162;
  color: #3f5162;
}

.autumn {
  position: relative;
}

.autumn-title {
  text-shadow: 3px 3px 0 #f7e2c7;
}

.autumn .inner {
  width: 90%;
}

.autumn-card {
  width: 22%;
  height: 335px;
  background-color: transparent;
  perspective: 1000px;
  box-shadow: 0 2px 15px #adadad;
  padding: 5px;
}

.autumn-card:hover .autumn-card-inner {
  transform: rotateY(180deg);
}

.autumn-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  transform-style: preserve-3d;
}

.autumn-front, .autumn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.autumn-back {
  padding: 30px 10px;
  background-color: #faeed8;
  box-sizing: border-box;
  transform: rotateY(180deg);
}

.autumn-back h4 {
  padding-bottom: 15px;
}

.autumn-back p {
  font-size: 0.8em;
}

.autumn-back a {
  color: #3f5162;
  margin-top: 10px;
  background-color: #faeed8;
  padding: 5px 40px;
  border: 1px solid #3f5162;
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: 0.3s;
}

.autumn-back a:hover {
  color: #faeed8;
}

.autumn-back a:hover::before {
  transform-origin: 50% 100%;
  transform: scaleY(1);
}

.autumn-back a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #3f5162;
  transform-origin: 50% 0%;
  transform: scaleY(0);
  transition: transform ease 0.3s;
}

.winter-title {
  text-shadow: 3px 3px 0 #dac7f7;
}

.winter .inner {
  width: 90%;
}

.winter-card {
  position: relative;
  width: 23%;
  height: 380px;
  transform-style: preserve-3d;
}

.winter-card:hover .winter-front {
  transform: perspective(500px) rotateY(180deg);
}

.winter-card:hover .winter-back {
  transform: perspective(500px) rotateY(360deg);
}

.winter-card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 2s ease-in-out;
  transform: perspective(500px) rotateY(0deg);
}

.winter-front {
  color: #fff;
}

.winter-front-first {
  background: url(../img/felipe-giacometti.jpg);
}

.winter-front-second {
  background: url(../img/sergey-mikheev.jpg);
}

.winter-front-third {
  background: url(../img/shailee-garnier.jpg);
}

.winter-front-fourth {
  background: url(../img/logan-weaver.jpg);
}

.winter-back {
  background: #e8dff7;
  transform: perspective(500px) rotateY(180deg);
  padding: 0 50px;
  box-sizing: border-box;
}

.winter-subtitle, .winter-top, .winter-text {
  text-transform: uppercase;
  transform: perspective(500px) translateZ(50px);
}

.winter-subtitle {
  font-size: 1.3em;
  display: inline-block;
  color: #3f5162;
  letter-spacing: 2px;
  text-shadow: 1px  1px 1px #ffffff, -1px  1px 1px #ffffff, 1px -1px 1px #ffffff, -1px -1px 1px #ffffff, 1px  0px 1px #ffffff, 0px  1px 1px #ffffff, -1px  0px 1px #ffffff, 0px -1px 1px #ffffff;
}

.winter-text {
  font-size: 0.5em;
}

.winter-text span {
  display: inline-block;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  margin: 15px 0;
}
